.mainpage{
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 50px;
    padding-top: 10px;
    position: relative;
}
.mainpage__openBtn{
    position: absolute;
    left: -50px;
    top: 50px;
}
.mainpage__pagination{
    display: flex;
    column-gap: 20px;
}
.mainpage__options{
    display: flex;
    column-gap: 50px;
}