.footer{
    background-color: var(--light-gray);
    -webkit-box-shadow: 2px -7px 26px 1px rgba(0, 0, 0, 0.45);
    -moz-box-shadow: 2px -7px 26px 1px rgba(0, 0, 0, 0.45);
    box-shadow: 2px -7px 26px 1px rgba(0, 0, 0, 0.45);
}
.footer__list{
    display: flex;
    column-gap: 30px;
    justify-content: center;
    align-items: center;
}
